/*SASS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "fondo";
@import "font";
@import "titulo";
@import "navbar";
@import "estilo-letras";
@import "imagenes";
@import "variables";
@import "button";
@import "videos";
